body {
    font-family: sans-serif;
    background-image: url("../images/head.jpg");
    background-size: auto;
    margin: 0;
    padding:0;
}

.nav {
    background-color: rgba(31, 41, 55, .7);
    display: flex;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    justify-content: end;
    align-content: center;
}

.nav li {
    font-size: 14px;
    overflow: hidden;
    margin-right: 40px;
}

li a {
    color: #F9FAF8;
    text-decoration: none;
    margin-right: 10%;
}

.lo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    margin-right: 230px;
}

.bodcon {
    margin-left: 10%;
    margin-right: 10%;
}

.hed {

}



.conhead {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    text-align: center;

}

.hp {
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15%;
}

.but {
    background-color: #1F2937;
    border: none;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    color:#F9FAF8;
    width:auto;
    height: 25px;
    transition-duration: 0.4s;
}

.but:hover {
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    color:#F9FAF8;
    width:auto;
    height: 25px;
    opacity: .6;
}

.info {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.bod {

}

.boxmaster {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-bottom: 10%;
}

.box {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 8px;
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 10px;

}

.boxcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boximg {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;

}

.boxtitle {
    display: flex;
    align-items: center;
    justify-content: center;

}

.boxright {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub {
    color: #1F2937;
    font-weight: 18px;
    margin-bottom: 25px;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
}

.quo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    
}
.space {
    padding: 45px;
    background-color: #F9FAF8;
    opacity: .6;
    border-radius: 8px;
    height: auto;
    width:auto;
    margin-right: 30px;
    margin-bottom: 50px;
    overflow: hidden;
}

.god {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actioncon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.action {
    display: flex;
    align-items: center;
    background-color: rgba(56, 130, 246, .85);
    width: 60%;
    height: auto;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

.actionright {
}

.actiontitle {
    font-size: 22px;
    color: #F9FAF8;
}

.actionsub {
    font-size: 14px;
    color: #F9FAF8;
}

.actionbut {
    background-color: rgba(56, 130, 246, .85);
    border: solid;
    border-width: 2px;
    border-color: #F9FAF8;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    color:#F9FAF8;
    width:auto;
    height: 20px;
    transition-duration: 0.4s;
}

.flex-item {
    align-items: center;
}

.flex-item:nth-of-type(1) {flex-grow: 3;}
.flex-item:nth-of-type(2) {flex-grow: 1;}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: rgba(31, 41, 55, .7);
    color:#F9FAF8;
    display: flex;
    align-items: center;
}

.navlinks:nth-of-type(1) {flex-grow:2;}
.navlinks:nth-of-type(2) {flex-grow:3;}