body {
    font-family: sans-serif;
    margin:0;
    padding:0;

}

.nav {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

.nav li {
    font-size: 12px;
    overflow: hidden;
}

li a {
    color: #F9FAF8;
    text-decoration: none;
    margin-right: 15px;
}

.lo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    margin-right: 230px;
}

.hed {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;

}

.con {
    height: auto;
    width: 350px;
    margin-right: 25px;
}

.conhead {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

p {
    color: #F9FAF8;
    font-size: 12px;
}

.but {
    background-color: #3882F6;
    border: none;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    color:#F9FAF8;
    width:auto;
    height: 25px;
}

.info {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-left: 50px;
    
}

.bod {
    margin-top: 40px;
    margin-left: 100px;
}

.boxmaster {
    display: flex;
}

.box {
    border-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
    width: 120px;
    height: 125px;
    margin-right: 30px;
}

.subtext {
    display: flex;
    margin-left: 100px;
    margin-bottom: 75px;
}

.sub {
    color: #1F2937;
    height: 30px;
    width: 120px;
    margin-right: 38px;
    text-align: center;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    width: 100%;
    height: 300px;
    justify-content: center;
}

.quo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    margin-bottom: 1px;
    
}
.space {
    margin:75px;
    margin-bottom: 50px;
    
}

.god {
    font-size: 18px;
    margin-left: 375px;
}

.action {
    width: 100%;
    height: 250px;
}